@font-face {
  font-family: League-Font;
  src: url(../Source/Fonts/Spiegel-OTF/Spiegel-Bold.otf);
}

* {
  font-family: League-Font;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: #343b45;
  text-align: center;
}

.RIOT {
  position: absolute;
  margin: 40vh auto;
  padding: 10px;
  display: inline-block;
  font-size: 12px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
}

.RIOT img {
  margin-bottom: 5px;
}

.RIOT:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.151);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

main {
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  display: inline-block;
  position: relative;
  margin: 25px auto;
  width: 1600px;
  height: 900px;
}

main.closed {
  display: none;
}

.bg__video video {
  width: 100%;
}

.btns_client {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.btns_client span {
  padding: 2px 0;
  color: #fff;
  display: block;
  width: 35px;
  opacity: 50%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: black -1px 1px 1px;
}

.x:hover {
  background-color: #d13639;
  opacity: 100%;
}
._:hover {
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 100%;
}

.container_main {
  position: absolute;
  height: 900px;
  width: 450px;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
}

.container_main img {
  position: relative;
  top: 70px;
  width: 120px;
}

.container_login {
  margin: 120px auto;
  font-size: 28px;
  width: 70%;
}

.container_login form {
  text-align: left;
  margin-top: 30px;
}

.placeholder {
  cursor: text;
  pointer-events: none;
  position: relative;
  float: left;
  bottom: 37px;
  left: 20px;
  font-size: 12px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #929292;
  transition: 0.1s;
}

input:focus ~ span,
input:valid ~ span {
  transform: translateY(-18px) translateX(-10px);
}

.container_login form input {
  box-sizing: border-box;
  background-color: #ededed;
  border-color: #ededed;
  border-style: solid;
  border-radius: 5px;
  width: 100%;
  padding: 20px 10px 10px 8px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #333333;
}

.container_login form input:hover {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.container_login form input:focus {
  background-color: #f9f9f9;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  left: 25px;
  font-size: 16px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-radius: 5px;
  position: absolute;
  top: 16px;
  left: -15px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #d13639;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.sociais_login {
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}

.sociais_login div {
  margin-left: 10px;
  width: 100px;
  border-radius: 7px;
  text-align: center;
}

.sociais_login div.p {
  margin: 0;
}

.facebook {
  background-color: #1877f2;
}

.google {
  background-color: #fff;
}

.apple {
  background-color: black;
}

.xbox {
  background-color: #107c10;
}

.sociais_login img {
  position: relative;
  top: 5px;
  width: 25px;
}

.login_btn {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  position: relative;
  top: 200px;
}

.login_btn input[type="submit"] {
  border-radius: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  color: #ededed;
  padding: 0;
  border-color: #ededed;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

.login_btn input[type="submit"]:hover {
  border-radius: 35%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  color: #ededed;
  padding: 0;
  border-color: #ededed;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
}

.active input[type="submit"] {
  background-color: #d13639;
  color: white;
  border-color: #d13639;
}

.active input[type="submit"]:focus,
.active input[type="submit"]:hover {
  background-color: #bc252a;
  color: white;
  border-color: #bc252a;
}
